.build/
.swiftpm/
dist/
Vendor/
Vendor.off/
*.dmg
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
.DS_Store
.build/dmgvenv/
iOS/build/
windows/**/bin/
windows/**/obj/
windows/.build/
windows/dist/
windows/vendor/
